*{
    margin:0;
    padding:0;
}
.bg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    min-height: 100vh;
    background-image: url("bg-2.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    z-index: -1;
    /*filter:blur(8px);*/
    filter:brightness(0.2);
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:bisque;
}

a{
    display: flex;
    color:chartreuse;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    margin-left: 95px;
    margin-top: 15px;
}